.header{
    width: 100%;
    height:10vh;
    display: flex;
    flex-direction: column;
}

.header1{
    width: 100%;
    height:50%;
    background: linear-gradient(90deg,black,rgb(177, 9, 9),rgb(255, 60, 0));
    display: flex;
    justify-content: center;
}

.header1>p{
    color: white;
    font-size: large;
}

.header2{
    width: 100%;
    height:50%;
    background: linear-gradient(90deg,black,rgb(177, 9, 9),rgb(255, 60, 0));
    display: flex;
    justify-content: center;
}

.header